.App{
  margin-top: 40px;
}
h2,h4,h5{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.tick-toe-template{
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid black;
  height: 440px;
  width: 440px;
  margin: 5% auto;
}

.tick-tack-toe-element{
  height: 140px;
  width: 140px;
  margin-top: 3px;
  margin-left: 2px;
  border: 0.5px solid black;
  cursor: pointer;
}
.tick-tack-toe-element:hover{
    background-color: rgb(211, 211, 211);
}

.player-choise{
  text-align: center;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}